@for $i from 1 through 20 {
  $num: $i * 8;
  $d: (
    top,
    right,
    bottom,
    left
  );

  .margin--#{$num} {
    margin: #{$num}px;
  }
  @each $dir in $d {
    .margin-#{$dir}--#{$num} {
      margin#{-$dir}: #{$num}px;
    }
  }

  .padding--#{$num} {
    padding: #{$num}px;
  }
  @each $dir in $d {
    .padding-#{$dir}--#{$num} {
      padding#{-$dir}: #{$num}px;
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify{
  text-align: justify;
}
