// Basic Button style
// 01: Contained Button start

.btn {
  cursor: pointer;
  display: block;
  border: none;
  border-radius: $basic-radius;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  box-shadow: 0 4px 8px map-get($sub-colors, primary-30);
  color: map-get($theme-colors, darken);
  white-space: nowrap;
  outline: none;
  overflow: hidden;
  @include linear-primary-second;
  @include transition (100ms);
  @include user-select(none);

  &.btn-sm {
    display: inline-block;
    height: 28px;
    width: auto;
  }

  .fa {
    float: left;
    font-size: 16px;
    width: 28px;
  }
  @each $get-color, $value in $colors {
    &.btn-#{$get-color} {
      box-shadow: 0 4px 8px map-get($sub-colors, #{$get-color}-30);

      &:hover {
        box-shadow: 0 8px 16px map-get($sub-colors, #{$get-color}-30);
      }

      &:active {
        opacity: 0.8;
        box-shadow: 0 0 4px map-get($sub-colors, #{$get-color}-30);
        @include translate(0, 0);
      }
    }
  }

  &.btn-primary {
    @include linear-primary-second;
  }

  &.btn-second {
    @include linear-second-accent;
  }

  &.btn-accent {
    @include linear-accent-mint;
  }

  &.btn-mint {
    @include linear-mint-lime;
  }

  &.btn-lime {
    @include linear-lime-yellow;
  }

  &.btn-yellow {
    @include linear-yellow-orange;
  }

  &.btn-orange {
    @include linear-orange-rose;
  }

  &.btn-rose {
    @include linear-rose-thulian;
  }

  &.btn-thulian {
    @include linear-thulian-floral;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background: map-get($sub-colors, white-10);
    box-shadow: none;
    color: map-get($sub-colors, white-30);

    &:hover {
      box-shadow: none;
      @include translate(0,0);
    }
  }
}
// 01: Contained Button end
// 02: Outlined Button start
@each $get-color, $value in $colors {
  .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    background: transparent;

    &.btn-#{$get-color} {
      border-color: $value;
      color: $value;

      &:hover {
        background: $value;
        color: map-get($theme-colors, darken);
      }
    }

    &.disabled,
    &:disabled {
      background: map-get($sub-colors, white-10);
      border-color: map-get($sub-colors, white-10);
      box-shadow: none;
      color: map-get($sub-colors, white-30);

      &:hover {
        background: map-get($sub-colors, white-10);
        border-color: map-get($sub-colors, white-10);
        box-shadow: none;
        color: map-get($sub-colors, white-30);
        @include translate(0,0);
      }
    }
  }
}
// 02: Outlined Button end
// 03: Text Button start
@each $get-color, $value in $colors {
  .btn.btn-text {
    display: inline;
    background: transparent;

    &.btn-#{$get-color} {
      box-shadow: none;
      color: $value;
      width: auto;
    }

    &.disabled,
    &:disabled {
      background: transparent;
      box-shadow: none;
      color: map-get($sub-colors, white-30);

      &:hover {
        background: transparent;
        box-shadow: none;
        color: map-get($sub-colors, white-30);
        @include translate(0,0);
      }
    }
  }
}
// 03: Text Button end
