// !compileOnSave
// compileOnSave: false
//
// Variables
//
// Colour Maps
$MimaoColour: (
  Black:    hsla(228, 29, 14, 1),
  White:    hsla(201, 69, 90, 1),
  Sunset:   hsla(231, 28, 18, 1),
  Primary:  hsla(218, 90, 72, 1),
  Second:   hsla(198, 74, 71, 1),
  Accent:   hsla(35, 86, 80, 1),
  Teal:     hsla(181, 91, 45, 1),
  Mint:     hsla(165, 71, 70, 1),
  Lime:     hsla(94, 80, 80, 1),
  Floral:   hsla(242, 83, 79, 1),
  Thulian:  hsla(307, 63, 72, 1),
  Rose:     hsla(339, 78, 71, 1),
  Orange:   hsla(15, 68, 65, 1)
);

$MimaoOpacity: (
  100: 1,
  80: .8,
  54: .54,
  30: .3,
  10: .1
);


// Maximum layout size
$Gutter: 16px !default;
$ColumnWidth: 84px;
$Contain: $ColumnWidth * 12 + $Gutter * 24;
@function columns ($number: 1, $Col: 12) {
  @return $ColumnWidth * ($number + $Gutter);
}
