// Colour Palette
// Black and white
$Dark: rgba(0,0,0,.87);
$DarkSub: transparentize($Dark, 0.33);
$Light: rgba(255,255,255,1);
$LightSub: transparentize($Light, 0.33);
// Primary Colour
$Primary: rgba(3,12,225,1);
